// Define variables for your color scheme

// For example:
$red: #FD1015;

//our palette

$blue: #6A65FF;
$darkblue: #201E50;
$black: #1d201f;
$lighterblue:#EDEAFB;
$lightblue :#CBD8F8;



$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
