.footer {
  background: $darkblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  padding: 5px 16px;
  color: #fff;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #fff;
  opacity: 1;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color:$lighterblue;
}
// .footer .fa-heart {
//   color: #fff;
//   background:#fff;
//   background: linear-gradient(153deg, rgba(2,246,254,1) 38%, rgba(65,30,129,1) 94%, rgba(67,22,125,1) 94%);
//   }  // display: flex;
