
// body {
//   font: 16px "Helvetica Neue", Helvetica, sans-serif;
//   min-height: 100vh;
//   background: rgb(136,95,188);
//   background: linear-gradient(153deg, rgba(136,95,188,0.9921218487394958) 39%, rgba(68,4,150,1) 69%);
//   color: #666;
//   -webkit-font-smoothing: antialiased;
// }

//  correction done by arnaud and laure
body {
  font: 16px "Helvetica Neue", Helvetica, sans-serif;
  min-height: 100vh;
<<<<<<< HEAD
=======
  background: rgb(136,95,188);
  background: linear-gradient(153deg, rgba(136,95,188,0.9921218487394958) 39%, rgba(68,4,150,1) 69%);
  color: #666;
>>>>>>> 5a79088016f0e891c9c9d7179ab0b75136df7d25

  // background: rgb(136,95,188);
  // background:#e4d2e4;
  background:#CCCCFF;
  // background: linear-gradient(153deg, rgba(136,95,188,0.9921218487394958) 39%, rgba(68,4,150,1) 69%);
  // color: #666;

  -webkit-font-smoothing: antialiased;
}


.text-center {
  text-align: center;
  margin-top: 20px;

  p {
    font-size: 1.2em;
  }

  .btn {
    margin-right: 10px;
  }
}
// --- links ------------------------------------------------------------------

a {
  color: #000;
}
