// Specific CSS for your home-page
.features-section-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2px 0;
  margin-top: 30px;
}
.feature {
  text-align: center;
  width: 30%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.features-section {
  width: 294px;
  img {
    width: 80%;
  }
  p a {
    text-decoration: none;
    color: #ddd;
  }
}
.feature img {
  max-width: 30%;
}
.feature h2 {
  font-size: 24px;
  margin-top: 10px;
}
.feature p {
  margin-top: 10px;
}
.icon {
  font-size: 36px;
  color: #0D6EFD;
  margin-top: 15px;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

body {
  background-color: rgba(42, 61, 66, 0.522);
}


.footer {
  background: rgba(211, 58, 201, 0.285);
  // display: flex;
  // align-items: center;
  // justify-content: space-between;

  padding: 0px 90px;
  color: rgba(0,0,0,0.3);
  bottom: 0;
  left: 0;
  right: 0;

  height: 170px;


  width: 100%;
  z-index: 1;
  font-size: 16px;
}

.footer-links-container {

  display: flex;
  align-items: center;
  justify-content: space-between;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  align-items: center;
 list-style-type: none;
 padding: 0;
 &:first-child a{
  padding-left: 0;
 }

}

.footer-links a {
  color: black;
  opacity: 0.15;
  list-style-type: none;
  padding: 0;
  &:first-child a{
   padding-left: 0;
}
}

.footer-links a:hover {
  opacity: 1;
}



body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.main-content {
  flex: 1;
}

.footer-container {
  margin-top: auto;
}
