.transaction_center {
  display: flex;
  gap: 40px;

}
.transaction_container_index .container{
  height: 400px;
}
.transaction_container_index .transaction_left_side {
  width: 50%;
  .banner {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
  }
  .banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  position: relative;
  .h1{
    color: aqua;
  }
  .banner p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

}
}
// .transaction_container_index .transaction_left_side {
//   width: 50%;

// }
// .transaction_container_index .transaction_category{
//   width: 50%;
// }

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 240px;
}
.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;

}
.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  padding: 10px;
  column-gap:15px;
  row-gap:15px;
}
.grid-item {
  // border for grid - to uncomment
  // border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;

}
.item-1 {
  grid-column: 1 / span 2;
  grid-row: 1;
}


.columns{
  font-size: 20px;
  font-weight: normal;
}

.rows{
  font-size: 15px;
}

// styling table
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

// styling the header
.styled-table thead th {
  background-color: turquoise;
  color: #ffffff;
  text-align: left;
  font-size: 15px;
}

// adding padding arounf rows and columns
.styled-table th,
.styled-table thead th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.rows {
  font-weight: bold;
  color: black;
}


#tabletitle{
  color:  #A74AC7;
  font-weight: bold;
}

#bannertitle{
  color: #A74AC7;
  font-weight: bold;
  font-size: 50px;
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #0fa,
  0 0 82px #0fa,
  0 0 92px #0fa,
  0 0 102px #0fa,
  0 0 151px #0fa;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #A74AC7 !important;
  display: flexbox;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


span.popup {
  height: 0;
  color: black;
  position: relative;
  cursor: pointer;

  &:after {
        content: attr(data-popuptext);
        background: transparent;
        color: #A74AC7;
        font-weight: bold;
        border-radius: 3px;
        opacity: 0;
        top: 0;
        left: 0;
        position: absolute;
        transition: 500ms ease;
        white-space: nowrap;
        max-height: 0;
        text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;}


  &:hover:after {
    opacity: 1;
    top: 1.2em;
    max-height: 200px;
    padding: .4em;
  }
}
.transaction_container_index .transaction_category{
  width: 50%;


.form-background {
  width: 900px;
  margin: 0 auto;
  background-color: #fcfcfc;
  padding: 20px 50px 40px;
  box-shadow: 1px 4px 10px 1px #aaa;
  font-family: sans-serif;
}
.form-background * {
  box-sizing: border-box;
}


.form-elements {
  text-align: center;
  margin-bottom: 30px;
}


.form-elements input {
  margin-bottom: 15px;
  color: #A74AC7;
}



#create-transaction {
  display: block;
  margin: 20px auto 0;
  width: 150px;
  height: 40px;
  border-radius: 25px;
  border: none;
  color: white;
  font-weight: bold;
  box-shadow: 1px 4px 10px 1px #aaa;
  text-align: center;
  line-height: 1em;

  background: #207cca;
  background: -moz-linear-gradient(left, #207cca 0%,#A74AC7 100%);
  background: -webkit-linear-gradient(left, #207cca 0%,#A74AC7 100%);
  background: linear-gradient(to right, #207cca 0%,#A74AC7 100%);
}

.form-header h1{
  color:  #A74AC7;
  font-weight: bold;
  text-align: center;
  font-family: sans-serif;
}

.form-input-elements{
  color: #A74AC7;
  // font-weight: bold;
}

.date{
  color: #A74AC7;
}

.transaction{
  color: #A74AC7;
}

.form-input-elements .select{
  color: #A74AC7;
}

#photo{
  color: #A74AC7;
}
}
