<%# <div class="footer">
      <h3>Moneymentor<span></span></h3>

  <div class="footer-links-container">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="footer-copyright">
    <p class="footer-company-name">Moneymentor © 2023</p>
  </div>


</div> %>



<!-- correction done by aranud and laure-->
<%# <div class="footer"> %>
<%# <div class="footer">
      <h3>Moneymentor<span></span></h3>
  <div class="footer-links-container">
@@ -12,4 +12,16 @@
  </div>
</div> %>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Moneymentor © 2023
  </div>
</div>
