<div class="balance-container">

<div class="headertitle">
  <h1>My Balances</h1>
</div>


<% @balances.each do |balance| %>
  <div class="container-card">
        <%# <h1 class="balance-header">My Card</h1> %>
    <div>
        <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAgFNyhD_newO41oLCgSJyH_fPaob9P2T-dBY1U5CaRqCHkgF-BRhidleldOLhki9JhH0&usqp=CAU"/>
    </div>

      <%= link_to new_balance_path do%>
    <table>
           <tr>
            <th><p class ="card-1">Bank:</p></th>
            <td><p class = "card-2">Mauritius Commercial Bank</p></td>
            </tr>
            <tr>
            <th><p class ="card-1">Account:</p></th>
            <td><p class = "card-2"><%= balance.account_number %></p></td>
            </tr>
            <tr>
            <th><p class ="card-1">Expiry Date:</p></th>
            <td><p class = "card-2">04/25</p></td>
            </tr>
            <tr>
            <th><p class ="card-1">Current Balance:</p></th>
            <td><p class = "card-2"><%= balance.current_balance.round(2) %></p></td>
            </tr>
            </tr>
      </table>
      <% end %>

  </div>
<% end %>
</div>
