<h1>Show page balance</h1>
<%= console %>

<%# <div>This is where the user is redirected when he clicks on a specific account</div> %>
<%# <div>balance_path(@balances) - /balances/:id </div> %>
<%# <div>should have a button for edit or add account button that redirects to the new page</div> %>
