

<%# <div>This is where the user is redirected when he clicks on a specific account</div> %>
<%# <div>balance_path(@balances) - /balances/:id </div> %>
<%# <div>should have a button for edit or add account button that redirects to the new page</div> %>

<%#  %>
      <!-- RIGHT SIDE: CURRENT BALANCE SHEET  -->
      <%# This is where the user is redirected when they click on a specific account %>
<div>
  <p>This is the account details page. You are viewing account ID <%= @balance.id %>.</p>
  <%# <p>Account Balance: <%= @balance.new</p> %>
  <!-- Add any other account details you want to display -->

  <!-- Button to edit the account -->
  <a href="<%= edit_balance_path(@balance) %>">
    <button>Edit Account</button>
  </a>

  <!-- Button to add a new account -->
  <a href="<%= new_balance_path %>">
    <button>Add Account</button>
  </a>
</div>
