
<div class="text-center">
  <%= link_to 'Targets', target_amounts_path, class: 'btn btn-info' %>
  <%= link_to 'Balances', balances_path, class: 'btn btn-info' %>
    <%# <%= link_to 'Transactions', transactions_path, class: 'btn btn-info' %>
</div>
