.navbar-lewagon {
  justify-content: space-between;
  background: #a37cf0;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.nav-link{
  color: white;
}
.btn-primary {
  color: white;
  // padding-right: 20px;
}
