<h1>This is our transaction view testing</h1>
<h1>Targets</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <% @transactions.each do |transaction| %>
        <ul>
          <li><%= transaction.amount %></li>
          <li><%=  transaction.transaction_type %></li>
          <td><%=  %></td>
        </ul>
      <% end %>
    </div>
  </div>
</div>
